body{
    margin: auto;
}

#header {
    height: 60px;
    background-color: #d1a292;
}
#brand{
    display: inline-block;
    margin-left:5%;
    font-size:30px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.social{
    display: inline-block;
    margin-left:75%
}

.socialIcon{
    height:50px;
    width:50px
}
